{% extends './base.html' %}
{% block title%}
Feedback
{% endblock%}
{% block content %}
                <!-- To decrese notification count when click on notification-->
                <script>
                    function notification(noti_id) {
                        $.ajax({
                            url: "web-services/notification",
                            type: "POST",
                            data: "noti_id=" + noti_id,
                            cache: false,
                            success: function(response) {
                                location.reload();

                            }
                        });
                        return true;
                    }
                </script>
                <!-- HEADER END-->
                <div class="container">

                    <div class="row gt-margin-top-20">

                        <div class="col-xxl-8 col-xxl-offset-4  col-xl-8 col-xl-offset-4">
                            <div class="row">
                                <div class="col-xs-16">
                                    <div class="gt-panel">
                                        <div class="gt-panel-border-green">
                                            <h2 class="text-center">FEEDBACK / SUGGESTIONS</h2>
                                            <p class="text-center">Give us your valuable feedback to make website more user friendly.</p>
                                            {% if error %}
                                            <p class="text-center"><strong>{{error}}</strong></p>
                                            {% endif %}
                                        </div>
                                        <div class="gt-panel-body">
                                            <div class="row">
                                                <div class="col-xxl-16">
                                                    <form action="" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label>Full Name</label>
                                                            <input type="text" class="gt-form-control" name="name" id="txt_name" placeholder="Enter Your Full Name" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email Id</label>
                                                            <input type="email" class="gt-form-control" name="email" id="txt_email" placeholder="Enter Your Email Id Here" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Contact No</label>
                                                            <input type="number" required maxlength="10" class="gt-form-control" placeholder="Enter Your Mobile No" name="phone" id="phone_no">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Subject</label>
                                                            <input type="text" class="gt-form-control" name="subject" id="subject" placeholder="Enter Your Subject Here" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Description</label>
                                                            <textarea rows="10" cols="30" required class="gt-form-control"   name="description" placeholder="Enter Your Query Here"></textarea>
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <input type="submit" value="Submit"  class="btn gt-btn-green btn-lg">
                                                			
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container gt-margin-top-10">
        </div>

        <!--- FOOTER --->
        <!--- FOOTER END--->

        <!--
<script>
 document.onkeydown = function(e) {
        if (e.ctrlKey && 
            (e.keyCode === 67 || 
             e.keyCode === 86 || 
             e.keyCode === 85 || 
             e.keyCode === 117)) {
            return false;
        } else {
            return true;
        }
};
</script>
<script language=JavaScript>
var message="Function Disabled!";
function clickIE4(){
if (event.button==2){
return false;
}
}
function clickNS4(e){
if (document.layers||document.getElementById&&!document.all){
if (e.which==2||e.which==3){
return false;
}
}
}
if (document.layers){
document.captureEvents(Event.MOUSEDOWN);
document.onmousedown=clickNS4;
}
else if (document.all&&!document.getElementById){
document.onmousedown=clickIE4;
}
document.oncontextmenu=new Function("return false")
</script>
-->

        <!---- ONLINE CHAT WIDGET--->
        <script type="text/javascript">
            var auto_refresh = setInterval(
                function() {
                    $('#count').load('parts/online').fadeIn("slow");
                }, 15000); // refresh every 10 second
        </script>
        <script src="/static/matrimony/js/jquery.min.js"></script>
        <small class="pull-right">
  </small>
        <!---- ONLINE CHAT WIDGET END--->


        <a href="{% url 'feedback' %}" style="position: absolute;left: 0;top: 30%;z-index: 1;">
 <img src="/static/matrimony/img/feedback.png" style="height:100px;width:30px;position:fixed;top:200;left:0">
</a>


        <script>
            $(function() {
                $('#thanksMessage').on('show.bs.modal', function() {
                    var myModal = $(this);
                    clearTimeout(myModal.data('hideInterval'));
                    myModal.data('hideInterval', setTimeout(function() {
                        myModal.modal('hide');
                    }, 2000));
                });
            });
        </script>
        <!--- FEEDBACK MODAL END --->

        <!--- GOOGLE ANALYTICS CODE --->
        <script>
            var id = 'UA-demo1';
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', id, 'auto');
            ga('send', 'pageview');
        </script>
        <!--- GOOGLE ANALYTICS CODE END --->


    </div>
    <!-- Jquery --->
    <script src="/static/matrimony/js/jquery.min.js"></script>
    <!--- Jquery END --->

    <!--- BOOTSTRAP AND GREEN JS--->
    <script src="/static/matrimony/js/bootstrap.js"></script>
    <script src="/static/matrimony/js/jquery.validate.js"></script>
    <script src="/static/matrimony/js/green.js"></script>
    <script>
        $(document).ready(function() {
            $("#contact-btn").click(function() {
                $("#contactform").validate();
            });
        });
    </script>
    <!--- BOOTSTRAP AND GREEN JS END--->
    <!--- LOADER JS--->
    <script>
        $(document).ready(function() {
            $('#body').show();
            $('.preloader-wrapper').hide();
        });
    </script>
    <!--- LOADER JS END --->

</body>

</html>
<script>
    $(document).ready(function() {
        dis_thumbnail();
    });

    function dis_thumbnail() {
        var dataString = '';
        jQuery.ajax({
            url: "./web-services/display_thumbnail",
            type: "POST",
            data: dataString,
            cache: false,
            success: function(response) {
                $("#dis_thumbnail").html('');
                $("#dis_thumbnail").append(response);
            },
        });
    }
</script>

{% endblock %}